<h1>Descriptive Statistics Results</h1> 
      <p><b>
        Numbers
      </b><br>
        <%= @numbers %>
      </p>

      <p><b>
        Sorted Numbers
      </b><br>
        <%= @sorted_numbers %>
      </p>

      <p><b>
        Count
      </b><br>
        <%= @count %>
      </p>

      <p><b>
        Minimum
      </b><br>
        <%= @minimum %>
      </p>

      <p><b>
        Maximum
      </b><br>
        <%= @maximum %>
      </p>

      <p><b>
        Range
      </b><br>
        <%= @range %>
      </p>

      <p><b>
        Median
      </b><br>
        <%= @median %>
      </p>

      <p><b>
        Sum
      </b><br>
        <%= @sum %>
      </p>

      <p><b>
        Mean
      </b><br>
        <%= @mean %>
      </p>

      <p><b>
        Variance
      </b><br>
        <%= @variance %>
      </p>

      <p><b>
        Standard Deviation
      </b><br>
        <%= @standard_deviation %>
      </p>

      <p><b>
        Mode
      </b><br>
        <%= @mode %>
      </p>
      <p><a href="/descriptive_stats/new">Calculate more descriptive statistics</a></p>