<h1>Word Count Results</h1>
<p><b>Text</b><br><%= @text %></p>
<p><b>Word Count</b><br><%= @word_count %></p>
<p><b>Character Count (with spaces)</b><br>
<%= @character_count_with_spaces %></p>
<p><b>Character Count (without spaces)</b><br>
<%= @character_count_without_spaces %></p>
<p><b>Occurrences of </b><cod><%= @special_word %></cod>
<br><%= @occurrences %></p>
<p><a href="/word_count/new">Process more text</a></p>